.header__lang-link {
  /*display: inline;*/
  color: #fff;
  margin-left: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  
}

.header__lang-link:first-child {
  text-decoration-line: underline;
}
