@import url(./_lang/header__lang-link_lang_ru.css);

.header__lang-link {
  color: #fff;
  margin-left: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  
}

.header__lang-link:first-child {
  margin-left: 0; 
}
