.page {
    width: 1280px;
    /*height: 100%;*/
    color: #FFF;
    background: #2A2C2F;
    font-family: 'Inter', fantasy, Arial, sans-serif;
}

* { outline: 2px dotted red; }
* * { outline: 2px dotted green; }
* * * { outline: 2px dotted orange; }
* * * * { outline: 2px dotted blue; }
* * * * * { outline: 1px solid red; }
* * * * * * { outline: 1px solid green; }
* * * * * * * { outline: 1px solid orange; }
* * * * * * * * { outline: 1px solid blue; }
