.footer__links {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    min-height: 248px;
    margin: 0 0 48px 0;
  }
}
