.place__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFF;
  max-width: min-content;
}

.place__link:hover {
  cursor: pointer;
  cursor: url('../../../images/pointer.svg'), auto;
}

@media screen and (max-width: 768px) {
  .place__link {
    font-size: 18px;
    line-height: 22px;
  }
}

