.lead__caption {
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2.4px;
  line-height: 14px;
  text-transform: uppercase;
  align-self: flex-start;
  /*margin: 8px 0 0;*/
  /*padding-left: 148px;*/
}
