.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  text-align: center;
  max-width: 560px;
  color: #FFFDFD;

}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 9.2vw;
    line-height: 9.6vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
