@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__links-elem/footer__links-elem.css);

.footer {
  margin: 92px 48px 0;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin: 92px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin: 64px 118px 0 16px;
  }
}
